IslandFurniture/IslandFurniture 2146/POS/src/META-INF/wsdl/172.23.73.34_8080/HQTransactionOrderNonMember/HQTransactionOrderNonMember.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.session/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session/">

<xs:element name="createHQTransationOrderforPOS" type="tns:createHQTransationOrderforPOS"/>

<xs:complexType name="createHQTransationOrderforPOS">
<xs:sequence>
<xs:element name="furnitureNameList" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="amountList" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="totalAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="transactionReference" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>